<html>
  <head>
    <title>TUNE Partner Center</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500,400italic,300,500italic,400">
    <% if (!localDev) { %>
        <link rel="stylesheet" href="/web/prod.delphi.css">
    <% } %>
    <link rel="stylesheet" href="web/css/wrong-context.css"/>
  </head>
  <body class="public wrong-context" id="main">
    <div class="logo-large-centered">
      <a href="<%- loginEndpoint %>">
        <img src="/web/images/Tune_Logo.svg" />
      </a>
    </div>

    <div id="pagecontent">
      <% if (partners && partners.length) { %>
        <div class="compact-page-large">
      <% } else { %>
        <div class="compact-page">
      <% } %>

        <% if (invalid) { %>

          <h2 class="no-margin-bottom">An Error Occurred</h2>
          <% if(errorMessage) { %>
            <h3 class="h4 error"><%- errorMessage %></h3>
          <% } %>
          <p class="border-before large-margin-top">Return to <a class="button-primary-large" href="https://mc.tune.com">TUNE Marketing Console Dashboard</a></p>

        <% } else { %>


          <% if (partners && partners.length) { %>

            <h2 class="no-margin-bottom">Sign In as a Partner</h2>
            <% if(errorMessage) { %>
              <h3 class="h4 error"><%- errorMessage %></h3>
            <% } %>
            <div class="table-wrap">
              <table>
                <tbody>
                  <tr>
                    <th class="sign-in-col"></th>
                    <th class="id-col">ID</th>
                    <th>Name</th>
                  </tr>
                  <% partners.forEach(function(partner) { %>
                    <tr>
                      <td width="150">
                        <form action="/auth/setupPartner" method="POST">
                          <input type="hidden" name="ad_network_id" value="<%- partner.ad_network_id %>" />
                          <input class="t-button t-button-primary" type="submit" value="Sign In" />
                        </form>
                      </td>
                      <td width="150"><%- partner.ad_network_id %></td>
                      <td><%- partner.name %></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>

          <% } else { %>

            <h2 class="no-margin-bottom">You do not have access to any Partners</h2>
            <p class="border-before large-margin-top"><a class="button-primary-large" href="<%- loginEndpoint %>">Return to the Login Portal</a></p>

          <% }
        } %>

      </div>

      <footer class="main centered">
        <div class="support-alert-wrapper">
          <div class="partial-support-alert support-alert">
            <button class="button-icon-round-mini close">
                <i class="im-close"></i>
            </button>
            <strong>Your Browser is not officially supported.</strong>
            Consider upgrading to one of our <a href="http://browsehappy.com/">supported browsers</a>
          </div>
          <div class="unsupported-alert support-alert">
            <strong>Your Browser is not supported.</strong>
            Please upgrade to one of our <a href="http://browsehappy.com/">supported browsers</a>
          </div>
        </div>

        <p>
          &copy; <a href="http://www.tune.com" target="_blank">TUNE, INC.</a>
          |
          <span id="zenbox-footer">
            <a id="zenbox-link"
               href="mailto:support@tune.com?Subject=TUNE%20for%20Partners%20Support%20Request">
                support@tune.com
            </a>
          </span>
        </p>
      </footer>
    </div>

    <% // Segment.com tracking script %>
    <script type="text/javascript">
  if(window.analytics=window.analytics||[],window.analytics.included)window.console&&console.error&&console.error("analytics.js included twice");else{window.analytics.included=!0,window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(a){return function(){var n=Array.prototype.slice.call(arguments);return n.unshift(a),window.analytics.push(n),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(a){var n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+a+"/analytics.min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(n,t)},window.analytics.SNIPPET_VERSION="2.0.9",
  window.analytics.load("UxTl0I31EG")}
</script>

  </body>
</html>
